
.array-container {
    left: 10%;
    margin: auto;
    width: 80%;
    display: block;
    height: 100%;
    position: fixed;
}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 0.5px;
    bottom: 0;
}

button {
    transition-duration: 0.4s;
    background-color: #428bca;
    color: white;
    padding: 0px 24px;
    border-radius: 8px;
    margin: 5px;
}

select {
    background-color: white;
    color: #428bca;
    padding: 0px 20px;
    border-radius: 8px;
    margin: 5px;
}

option, label {
    background-color: white;
    color: #428bca;
    margin-left: 10px;
}

button:hover {
    color: #428bca;
    background-color: white;
    border-color: #428bca;
    border-radius: 8px;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
    margin-bottom: 7px;
    margin-top: 7px;
}
