.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: #fafafa;
  color: #428bca;
}

h1, h2, h3, h4, h5, h6 {
  color: #428bca;
  font-size: 1.4em;
}

h1 {  
  font-size: 2em;
}

h2 {  
  font-size: 1.7em;
}

p {
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
}

.navbar, a, .navbar-nav, .navbar-light .nav-link {
  color: white;   
  background-color:  #428bca;
  margin-bottom: 0;
  margin-top: 0;
  padding-left : 2%;
  padding-right: 2%;
}
.navbar-brand {
  font-size: 1.4em;
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
